body{
    font-family: 'PT Sans', sans-serif;
}
#author{
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline:none;
}

#author:focus{
    transition: 0.5s ease-out;
    
    border-width: 1.5px;
    border-color: #5264AE;
}
#send{
    margin-top: 10px;
    
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    outline:none;
}
#send:hover { background: rgb(53, 167, 110); }
#send:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.searchDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 200px;
    box-shadow: 7px -7px 0 rgba(0,0,0,0.2)
}

.book:hover{
    box-shadow: 0 0 25px rgb(4, 0, 255)
}

#ul {
    display: grid;
    grid-template-columns: repeat(4 , 2fr);
    width: 93%;
    grid-gap: 20px;
    margin-top: 50px;
}

.bookTitle{
    margin: 10px;
    font-size: 20px;
    color: black;
   
}


.bookAuthor{
    align-self: flex-end;

    margin: 5px;
    font-size: 13px;
    color: grey;
}

#removeButton:hover {
    cursor: pointer;
}

#ul li {
    list-style-type: none;
   }

.bookDescription{
    margin: 5px;
    display: none;
    font-size: 13px;
    color: rgb(31, 48, 47);
}

.des{
    font-size: 10px;
    color:rgba(31, 48, 47, 0.438);
}